html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  z-index: 100;
}
p{
  color: white;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#cadre{
  height: 700px;
  width: 700px;
  margin-left: 400px;
  margin-top: 15px;
  background: url("herbe.png");
  position: relative;
}

#carre{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/joueur/normal.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}

#carre_mort{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/joueur/mort.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}

.ennemi{
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_ennemie/bas.gif);
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 20;
}

.bombe{
  width: 50px;
  height: 50px;
  background: url(82492-full.gif) round;
  position: absolute;
}

#vie {
  background: url(sprite_jeu_js/joueur/normal.gif) no-repeat;
  position: absolute;
  left: 1150px;
  top: 50px;
  z-index: 200;
  width: 50px;
  height: 50px;
  text-align: right;
}

#popup
{
display: flex;
position: absolute;
z-index: 200;
width: 700px;
height: 700px;
background: url(backgroundgameover.gif) no-repeat center/cover;
top: 0;
left: 0;
margin: 15px 400px;
flex-direction: column;
align-content: center;
justify-content: center;
text-align: center;
}

#popup>button{
width: 150px;
height: 50px;
margin-left: 40%;
margin-top: 10%;
}

.obstacle
{
 width: 50px;
 height: 50px;
 background: url("obstacles.png");
 position: absolute;

}

.cassable
{
  width: 50px;
 height: 50px;
 background:url("brique\ non\ cassé.png");
 position: absolute;
 

}

.casse
{
  width: 50px;
  height: 50px;
  background:url("brique\ cassé.png");
  position: absolute;
}

.hide{
  display: none !important;
}

#menu{
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  flex-wrap: wrap;
}

#solo{
  width: 50%;
  height: 50%;
  background: url(solo.png) round;
  border-bottom: 1px solid white;
}
#coop{
  width: 50%;
  height: 50%;
  background: url(coop.png) round;
  border-bottom: 1px solid white;

}
#vs{
  width: 50%;
  height: 50%;
  background: url(duel2.png) round;

}
#all{
  width: 50%;
  height: 50%;
  background: url(duel4.png) round;

}

.ombre{
  z-index: 99;
  width: 200px;
  height: 150px;
  position: absolute;
  left: -200px;
}

.cache{
  height: 700px;
  width: 300px;
  position: absolute;
  left: -300px;
  background-color: white;
  z-index: 100;
}

#deux{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/normal.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}
#deux_mort{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/mort.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}

#troi{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/normal.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}
#troi_mort{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/mort.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}

#quatre{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/normal.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}
#quatre_mort{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: url(sprite_jeu_js/sprite_j2/mort.gif) round;
  position: absolute;
  top: 300px;
  left: 300px;
}

.bonus
{
  height: 50px;
  width: 50px;
  background: url(texture-caisse.jpeg) round;
  position: absolute;
  z-index: 10;
}

#vie_deux {
  background: url(sprite_jeu_js/sprite_j2/normal.gif) no-repeat;
  position: absolute;
  left: 1150px;
  top: 250px;
  z-index: 200;
  width: 50px;
  height: 50px;
  text-align: right;
}

#vie_troi {
  background: url(sprite_final.gif) no-repeat;
  position: absolute;
  left: 1150px;
  top: 450px;
  z-index: 200;
  width: 50px;
  height: 50px;
  text-align: right;
}

#vie_quatre {
  background: url(sprite_final.gif) no-repeat;
  position: absolute;
  left: 1150px;
  top: 650px;
  z-index: 200;
  width: 50px;
  height: 50px;
  text-align: right;
}

#score {
  position: absolute;
  left: 1150px;
  top: 150px;
  z-index: 200;
  width: 60px;
  height: 50px;
  text-align: right;
  
}

.bombe_un{
  width: 50px;
  height: 50px;
  background: url(82492-full.gif) round;
  position: absolute;
}
.bombe_deux{
  width: 50px;
  height: 50px;
  background: url(82492-full.gif) round;
  position: absolute;
}
.bombe_troi{
  width: 50px;
  height: 50px;
  background: url(82492-full.gif) round;
  position: absolute;
}
.bombe_quatre{
  width: 50px;
  height: 50px;
  background: url(82492-full.gif) round;
  position: absolute;
}